{% extends "pcrs/item_list.html" %}

{% block item_title %}
    <a href="{{ object.get_stats_page_url }}">
        <i class="glyphicon glyphicon-stats"></i>
        <span class="at">Statistics for {{ object.name }}</span>
    </a>
    {% if object.get_first_page_url %}
        {% if object.pk in visible_challenges %}
            <a href="{{ object.get_first_page_url }}">
                {{ object.name }} | {{ object.quest }}
            </a>
        {% else %}
            {{ object.name }} | {{ object.quest }}
            <div class="label label-warning">Invisible to this section.</div>
        {% endif %}
    {% else %}
        {{ object.name }} | {{ object.quest }}
        <div class="label label-danger">No challenge pages.</div>
    {% endif %}
{% endblock %}