{% load filters %}
{% load feedback %}

{% for container in object_list %}
    <h3>{{ container.container.name }}
        <span class="pull-right">{{ container.due_on }}</span>
    </h3>
    <div class="well">

        {% with list_title='Challenges' object_list=container.container.challenge_set.all visible_objects=visible_challenges completed=challenge_to_completed %}
            {% include 'content/gradable_container_list.html' %}
        {% endwith %}

        {% with list_title='Problem Sets' object_list=container.container.problemset_set.all visible_objects=visible_problemsets completed=problemset_to_completed %}
            {% include 'content/gradable_container_list.html' %}
        {% endwith %}
    </div>
{% endfor %}
