{% load filters %}

{% with template='content/containers.html' %}
    {% for container in object_list %}
        <div class="container-title">
            <h4>{{ container.name }}
                <span class="pull-right">
                    {{ container.due_on|default_if_none:""  }}
                </span>
            </h4>
        </div>

        {% with children=container.get_children_containers %}
            {% if children %}
                <div class="well">
                    {% with object_list=children %}
                        {% include template %}
                    {% endwith %}
                </div>
            {% endif %}
        {% endwith %}

        <ol>
            {% for challenge in container.get_children_challenges %}
                <li>
                    <a href="{{ challenge.get_main_page }}">{{ challenge.name }}</a>

                    {% with scores=challenges|get_item:challenge.pk %}
                        {{ scores.0 }}/{{ scores.1 }}
                   {% endwith %}
                </li>
            {% endfor %}
        </ol>
    {% endfor %}
{% endwith %}
