{% extends "pcrs/base.html" %}

{% block page_title %}
    {{ content_page.challenge.name }} - Part {{ content_page.order }}
{% endblock %}

{% load filters %}
{% block content %}
    {{ block.super }}

    {% for object in object_list %}
        {% with item=object.content_object %}
            {% if item|classname|lower == "textblock" %}
                {% include "content/textblock.html" %}
            {% elif item|classname|lower == "problem" %}
                <div id="{{ item|problem_type }}-{{ item.pk }}">
                    {% with problem=item %}
                        {% include item.get_app_label|add:"/submission_widget.html" %}
                    {% endwith %}
                </div>
            {% endif %}
        {% endwith %}

    {% endfor %}

    {% if content_page.order %}
        <a class="btn btn-success" role="button"
           href="{{ content_page.order|add:-1 }}">
            <i class="glyphicon glyphicon-chevron-left"></i>
        </a>
    {% endif %}

    {% if content_page.next %}
        <a class="btn btn-success pull-right" role="button"
           href="{{ content_page.order|add:1 }}">
            <i class="glyphicon glyphicon-chevron-right"></i>
        </a>
    {% endif %}

{% endblock %}