{% load filters %}

<div class="panel-group" id="quest_accordion_{{ quest.quest.pk }}">
    <div class="panel panel-default">
        {% if quest.is_past_due %}
            <div class="panel-heading panel-quest-past-due">
        {% else %}
            <div class="panel-heading panel-quest-not-past-due">
        {% endif %}
                <h4 class="panel-title">
                    <a href="#quest_collapse_{{ quest.quest.pk }}"
                       data-parent="quest_accordion_{{ quest.quest.pk }}"
                       class="collapsed"
                       data-toggle="collapse">
                        <i class="glyphicon glyphicon-chevron-right quest-icon"></i>
                        {{ quest.quest.name }}
                        <div class="visible-xs">
                            &nbsp;
                            <span class="pull-right">
                                {% if quest.is_past_due %}
                                    Submission closed :
                                {% else %}
                                    Due date :
                                {% endif %}
                            </span>
                        </div>
                        <div class="visible-xs">
                            &nbsp;
                            <span class="pull-right">
                                {{ quest.due_on|default:'' }}
                            </span>
                        </div>
                        <span class="pull-right visible-lg visible-md visible-sm">
                            {% if quest.is_past_due %}
                                Submission closed :
                            {% else %}
                                Due date :
                            {% endif %}
                            {{ quest.due_on|default:'' }}
                        </span>
                    </a>
                </h4>
            </div>
        {% if quest.quest.is_live %}
            <div id="quest_collapse_{{ quest.quest.pk }}"
                 class="panel-collapse collapse">
                <div class="panel-group panel-body quest_internal"
                     id="challenge_accordion_{{ challenge.pk }}">
                    <h4> {{ quest.quest.description }} </h4>

                    <h3> Challenges </h3>
                    {% for challenge in challenges|get_item:quest.quest.pk %}
                        {% include "content/quest_display_challenge.html" %}
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <div class="label label-danger">
                The questmasters are still working on a few minor details.
            </div>
        {% endif %}
    </div>
</div>