<div class="problem item well"
     id="{{ problem.get_app_label }}-{{ problem.pk }}">
    <button class="btn btn-object-close btn-xs glyphicon glyphicon-remove remove_item pull-right" title="Delete Item"></button>

    <i class="glyphicon glyphicon-edit"></i>
    {% if problem.visibility == "open" %}
        <button class="btn btn-object-visibility visibility-{{problem.visibility}} btn-xs glyphicon glyphicon-eye-open"></button>
    {% else %}
        <button class="btn btn-object-visibility visibility-{{problem.visibility}} btn-xs glyphicon glyphicon-eye-close"></button>
    {% endif %}
    <b>{{ problem }}</b>
    {% with object=problem %}
        {% include "pcrs/tags.html" %}
    {% endwith %}
</div>