<div class="problem item well"
     id="{{ problem.get_app_label }}-{{ problem.pk }}">
    <button class="btn btn-object-close btn-xs glyphicon glyphicon-remove remove_item pull-right">
        <span class="at">Remove {{ problem.name }} from page {{ page.order }}</span>
    </button>
    <button class="btn btn-object-add btn-xs at" id="btn-object-add">
        <span class="at">Move {{ problem.name }} to a page</span>
    </button>

    <i class="glyphicon glyphicon-edit"></i>
    {% if problem.visibility == "open" %}
        <button class="btn btn-object-visibility visibility-{{problem.visibility}} btn-xs glyphicon glyphicon-eye-open"
                title="Visibility {{problem.visibility}}">
                    <span class="at">{{ problem.name }} Visibility {{problem.visibility}}</span>
        </button>
    {% else %}
        <button class="btn btn-object-visibility visibility-{{problem.visibility}} btn-xs glyphicon glyphicon-eye-close"
                title="Visibility {{problem.visibility}}">
                    <span class="at">{{ problem.name }} Visibility is {{problem.visibility}}</span>
        </button>
    {% endif %}
    <b class="searchable_content">{{ problem }}</b>
    {% with object=problem %}
        {% include "pcrs/tags.html" %}
    {% endwith %}
</div>