<div class="problem item"
     id="{{ problem.get_app_label }}-{{ problem.pk }}">
    <button class="xs-x-button-right remove_item">
        <span class="at">Remove {{ problem.name }} from page {{ page.order }}</span>
    </button>
    <button class="at" id="btn-object-add">
        <span class="at">Move {{ problem.name }} to a page</span>
    </button>

    <button class="btn-object-visibility visibility-{{problem.visibility}}"
            title="Visibility {{problem.visibility}}">
                <span class="at">{{ problem.name }} Visibility {{ problem.visibility }}</span>
    </button>
    <span class="searchable_content">
        {% if problem.name %}
            <b>{{ problem.name }}</b>
        {% endif %}
        <a class="pull-right" href="{{ problem.get_absolute_url }}" target="_blank" title="Edit {{ problem.name }}">
            <i style="color:navy" class="pencil-icon"></i>
        </a>
        <br />
        {{ problem.description }}
    </span >

    {% with object=problem %}
        {% include "pcrs/tags.html" %}
    {% endwith %}
</div>