{% extends "pcrs/base.html" %}

{% load compress %}
{% load feedback %}
{% load filters %}
{% load static %}


{% block scripts %}
    {{ block.super }}
    {% compress js %}
        {% include "pcrs/node_includes.html" %}
        <script type="text/jsx"
                src="{% static "content/js/socket_events.js" %}"></script>
        {% include "pcrs/react_includes.html" %}
    {% endcompress %}

{% endblock %}

{% block less %}
    <link rel="stylesheet/less"
          type="text/css"
          href="{% static "less/quest_page.less" %}" />

    <script src="{% static "less/less-1.7.3.min.js" %}"
            type="text/javascript">
    </script>
{% endblock %}

{% block page_title %}
    Quests LIVE
{% endblock %}

{% block content %}
    <div id="quests"></div>
    <script type="text/jsx" src="{% static "content/js/components.js" %}"></script>
    <script type="text/jsx" src="{% static "content/js/quests.js" %}"></script>
{% endblock %}