{% extends "pcrs/item_list.html" %}

    {% load static %}

{#    {% block less %}#}
{#        <link rel="stylesheet/less" type="text/css" href="{% static "less/quest_list.less" %}" />#}
{#        <script src="{% static "less/less-1.7.3.min.js" %}" type="text/javascript"></script>#}
{#    {% endblock %}#}

{% block scripts %}
    {{ block.super }}
    {% load compress %}
    {% compress js %}
        <script src="{% static "jquery-ui-1.10.4/js/jquery-ui-1.10.4.min.js" %}"
                type="text/javascript"></script>
        <script src="{% static "csrf_protection.js" %}"
                type="text/javascript"></script>
        <script src="{% static "content/js/quest_list.js" %}"
                type="text/javascript"></script>
        <script src="{% static "bootstrap_less/bootstrap-3.2.0/js/modal.js" %}"
                type="text/javascript"></script>
        <script src="{% static "bootstrap_less/bootstrap-3.2.0/js/transition.js" %}"
                type="text/javascript"></script>
    {% endcompress %}
{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    {% load compress %}
    {% compress css %}
    <link rel="stylesheet" href="{% static "less/quest_list.css" %}">
    {% endcompress %}
{% endblock %}


{% block content %}

{#    <div class="row-fluid row-height">#}
        <span class="top-save">
            <button id="save_top" class="green-button disabled pull-right">
                Save
            </button>
        </span>
        <div class="available_challenges">
            <h3 class="challenge_title">Challenges</h3>

            <div id="challenges" class="tab-content">
                {% for challenge in challenges %}
                    <div id="{{ challenge.pk }}" class="challenge">
                        {{challenge.name}}
                        <a class="pull-right" href="{% url 'challenge_update' challenge.pk %}" target="_blank" title="Edit {{ challenge.name }}">
                            <i style="color:white" class="pencil-icon"></i>
                        </a>
                        <button class="at" onclick="select_quest({{ challenge.pk }})">Move {{ challenge.name }}</button>
                    </div>

                {% endfor %}
            </div>
        </div>
        <div class="set_challenges">
            <h3>Quest list</h3>

            <div id="all-quests">
                {% for object in object_list %}
                    <div class="quest" id="{{ object.pk }}">
                        <div class="quest-controls">
                            <div class="vertical-button-position">
                                <button class="up-button"><i
                                        class="up-icon"></i>
                                    <span class="at"> Move quest Up</span>
                                </button>
                                <button class="down-button"><i
                                        class="down-icon"></i>
                                    <span class="at"> Move quest Down</span>
                                </button>
                            </div>
                        </div>
                        <div class="pull-right">
                            <a class="pull-right no-hover-underline" target="_blank"
                                    title="Edit {{ object.name }}"
                                    href="{{ object.get_absolute_url }}">
                                &nbsp;<i class="pencil-icon"></i>
                            </a>
                            <a class="pull-right no-hover-underline" target="_blank"
                                    title="View Analytics for {{ object.name }}"
                                    href="{{ object.get_absolute_url }}/analytics">
                                &nbsp;<i class="stats-icon"></i>
                            </a>
                        </div>
                        {% if not object.is_live %}
                            <div class="red-label pull-right">Under
                                construction
                            </div>
                        {% else %}
                                <div class="green-label pull-right">LIVE</div>
                        {% endif %}

                        <div class="quest-detail">
                            <h3 class="name">
                                {{ object.name }}
                            </h3>
                            {% autoescape off %}
                            <h5 class="description">{{ object.description }}</h5>
                            {% endautoescape %}
                        </div>
                        <div class="quest-box">
                            {% for challenge in object.challenge_set.all %}
                                <div id="{{ challenge.pk }}"
                                     class="challenge">
                                    <i class="close"
                                       title="Remove {{ challenge.name }} from {{ object.name }}">
                                    </i>
                                    {{challenge.name}}
                                    <a class="pull-right" target="_blank" title="Edit {{ challenge.name }}"  href="{{ challenge.get_absolute_url }}">&nbsp;
                                        <i style="color: white" class="pencil-icon"></i>
                                    </a>
                                    <button class="at" onclick="select_quest({{ challenge.pk }})">Move {{ challenge.name }}</button>
                                </div>
                            {% endfor %}
                        </div>
                        <hr>
                    </div>
                {% endfor %}
            </div>
        </div>
{#    </div>#}
    <button id="save_bot" class="green-button disabled pull-right">
        Save
    </button>
    <div class="modal fade" id="page-entry-modal" tabindex="-1" role="dialog"
         aria-labelledby="page_entry_ModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="page_entry_ModalLabel"></h4>
                </div>
                <div class="modal-body">
                    <select id="quest_list">
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="reg-button"
                            data-dismiss="modal">Close
                    </button>
                    <button type="button" data-dismiss="modal"
                            class="green-button" id="save-page-num" onclick="move_challenge()">Ok
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

