{% extends "pcrs/base.html" %}

{% load filters %}
{% load feedback %}

{% block scripts %}
    {{ block.super }}
    {% load static %}
    {% load compress %}
    {% compress js %}
        <script src="{% static "content/js/Quest_color_control.js" %}"
                type="text/javascript"></script>
    {% endcompress %}
{% endblock %}

{% block page_title %}
    Quests
{% endblock %}

{% block content %}
    {% for quest in object_list %}
        {% include "content/display_quests.html" %}
    {% endfor %}
{% endblock %}