{% load filters %}

<div class="pcrs-panel">
    {% with completed=challenge_to_completed|get_item:challenge.pk|default:0 total=challenge_to_total|get_item:challenge.pk|default:0 %}
        {% if completed == 0 and total != 0 %}
            <div class="challenge-not-attempted">
        {% elif completed == total %}
            <div class="challenge-completed">
        {% else %}
            <div class="challenge-attempted">
        {% endif %}
        <h3 class="pcrs-panel-title">
            <a class="collapsed"
               data-toggle="collapse"
               href="#challenge_collapse_{{ challenge.pk }}">
                <i class="collapse-indicator"></i>
                {% if challenge.is_graded %}
                    </span>
                    <i class="credit-challenge"
                       title="Graded Challenge"></i>
                {% else %}
                    </span>
                    <i class="practice-challenge"
                       title="Practice Challenge"></i>
                {% endif %}
                </span>

                {{ challenge.name }}
                <a type="button" title="Attempt" href="{{ challenge.get_absolute_url }}/1">
                    <i class="attempt-btn"></i>
                </a>

                {% if completed == total %}
                    <div class="challenge-mark-complete">
                {% else %}
                    <div class="challenge-mark-incomplete">
                {% endif %}
                    <br class="info-sm">
                    {% if challenge.is_graded %}
                        Credit &nbsp;
                    {% else %}
                        Practice &nbsp;
                    {% endif %}
                    <i class="complete-icon"></i>
                    <span class="challenge-mark">
                        {{ completed }}/{{ total }}
                    </span>
                </div>
            </a>

        </h3>
        </div>
    <div id="challenge_collapse_{{ challenge.pk }}"
         class="pcrs-panel-body panel-collapse collapse">
        <h4> {{ challenge.description }} </h4>
        <br>
        {% for page in pages|get_item:challenge.pk %}
            {% include "content/quest_display_page.html" %}
        {% endfor %}
    </div>
    {% endwith %}
</div>
