{% extends "content/quests.html" %}

{% load compress %}
{% load feedback %}
{% load filters %}
{% load static %}


{% block scripts %}
    {{ block.super }}
{#    {% compress js %}#}
        {% include "pcrs/node_includes.html" %}
        <script type="text/jsx"
                src="{% static "content/js/socket_events.js" %}"></script>
        {% include "pcrs/react_includes.html" %}
{#    {% endcompress %}#}

{% endblock %}

{% block content %}
    <div id="quests"></div>
    <script type="text/jsx" src="{% static "content/js/future/components.js" %}"></script>
    <script type="text/jsx" src="{% static "content/js/quests.js" %}"></script>
{% endblock %}