{% autoescape off %}
<h3> <p class="widget_title"> {{ item.name }} </p>
<span class="video-status align-right" id="watched-{{ item.get_uri_id }}"></span>
</h3>
<div> {{ item.description|linebreaks }} </div>
{% endautoescape  %}
<br>

<video id="my_video_{{ item.pk }}"
       class="video-js vjs-default-skin"
       controls
       preload="auto"

       data-setup='{"customControlsOnMobile": true }'
       poster="{{ item.thumbnail }}">
       {% if mymedia_videos %}
           <source src="rtmp://media.library.utoronto.ca/vod/&mp4:{{ item.link }}" type='rtmp/mp4'>
{#         <source src="{{ item.link }}" type="rtmp/mp4">#}
       {% else %}
           <source src="{{ item.link }}" type='video/mp4'>
       {% endif %}
</video>

{% if item.download %}
    <br>
    <div>
        <a href="{{ item.download }}">
            Download Video
        </a>
    </div>
    <br>
{% endif %}



