{% extends "pcrs/base.html" %}

{% block page_title %}
    Manage quests for {{ section.pk }}
{% endblock %}

{% load staticfiles %}
{% load compress %}

{% block scripts %}
    {{ block.super }}
    {% compress js %}
        <script src="{% static "date_picker/js/moment.js" %}"></script>
        <script src="{% static "date_picker/js/datetimepicker.js" %}"></script>
        <script src="{% static "date_picker/js/date_time_code.js" %}"></script>
    {% endcompress %}
{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    {% compress css %}
        <link rel="stylesheet" href="{% static "date_picker/css/datetimepicker.css" %}">
    {% endcompress %}
{% endblock %}

{% block links %}
    <a href="{{ section.get_absolute_url  }}">< Back to section</a>
{% endblock %}

{% block content %}

    {{ block.super }}
    {% load crispy_forms_tags %}
    {% load filters %}

    <form method="post">
    {% include "pcrs/buttons/save.html" %}
    <br>
        {{ form.management_form|crispy }}
        {% for f in form %}
            <h3>{{ quests|get_item:f.quest.value }}</h3>
            <div class="well">
                {% crispy f %}
            </div>

        {% endfor %}
    {% include "pcrs/buttons/save.html" %}
    </form>

{% endblock %}