<div class="bs-docs-sidebar hidden-print affix" role="complementary" style="margin-left:86%;
margin-top:-55px;">
    <ul class="nav bs-docs-sidenav" style="margin-left:-2%;">
        <br>
        <div>
            {% if content_page.order %}
                <a href="{{ content_page.order|add:-1 }}">
                <span class="glyphicon glyphicon-chevron-left" title="Go to page {{ content_page.order|add:-1 }} of {{ num_pages }}" style="color:green;">
                </span>
            {% else %}
                <a>
                <span class="glyphicon glyphicon-chevron-left" style="color:grey;">
                </span>
            {% endif %}
                </a>

            {% if next %}
                <a href="{{ next.get_absolute_url }}">
                <span class="glyphicon glyphicon-chevron-right" title="Go to page {{ content_page.order|add:1 }} of {{ num_pages }}" style="color:green; display:inline-block;">
                </span>
            {% else %}
                <a>
                <span class="glyphicon glyphicon-chevron-right" style="color:grey; display:inline-block;">
                </span>
            {% endif %}
                </a>
        </div>
    </ul>
</div>