<div class="bs-docs-sidebar hidden-print affix" role="complementary">
    <ul class="nav bs-docs-sidenav">
        <br>
        <div>
            {% if content_page.order > 1 %}
                <a class="side-bar-arrow" href="{{ content_page.order|add:-1 }}" title="Go to page {{ content_page.order|add:-1 }} of {{ num_pages }}">
                <span id="step_left" class="glyphicon glyphicon-chevron-left problem-complete" >
                </span>
            {% else %}
                <a class="side-bar-arrow">
                <span class="glyphicon glyphicon-chevron-left problem-closed">
                </span>
            {% endif %}
                </a>

            {% if next %}
                <a href="{{ next.get_absolute_url }}" title="Go to page {{ content_page.order|add:1 }} of {{ num_pages }}">
                <span id="step_right" class="glyphicon glyphicon-chevron-right problem-complete in_line">
                </span>
            {% else %}
                <a>
                <span class="glyphicon glyphicon-chevron-right problem-closed in_line">
                </span>
            {% endif %}
                </a>
        </div>
    </ul>
</div>