<html>
<body>
<dl>
    <dt>Relation</dt>
    <dd>
        <p>A relation is referenced with its name. A relation name is a
            well formed expression on its own. For example,

        <p><code>Question;</code></p>

        <p>would evaluate to all of the tuples in the
            <code>Question</code> relation.</p>

        <p>Relation names must begin with an alphabet character.</p>
    </dd>

    <dt>Attributes</dt>
    <dd>
        <p>An attribute is referenced by its name, or optionally using
            a prefixed dot notation <code>relation.attribute</code>.
            For example,</p>
        <ul>
            <li><code>id</code></li>
            <li><code>Question.id</code></li>
        </ul>
        <p>both reference the <code>id</code> attribute of the
            <code>Question</code> relation.</p>

        <p>The prefix allows disambiguation when multiple attributes
            have the same name. For example, the Cartesian product of
            <code>Question</code> and <code>Answer</code> would require
        <ul>
            <li><code>Answer.id</code></li>
            <li><code>Question.id</code></li>
        </ul>
        <p>and not the ambiguous reference <code>id</code>.</p>

        <p>A relation that results from a set operation that combines
            tuples from two or more relations cannot be referenced using
            the prefix notation, without using a rename operator.</p>
    </dd>

    <dt>Argument</dt>
    <dd>
        <p>Some relational algebra operators take additional
            arguments, for example Select and Project.
            In the syntax, arguments use a LaTeX-ish format,</p>

        <p><code>Operator_{argument}</code></p>

        <p>The specific operator descriptions below have more examples.</p>
    </dd>

    <dt>Logical Operators</dt>
    <dd>Keywords: <code>not, and, or</code></dd>

    <dt>Conditional Operators</dt>
    <dd>Keywords: <code><, >, <=, >=, =, !=, <></code></dd>
</dl>

<h2>Unary operators</h2>
<dl>
    <dt>Assignment</dt>
    <dd>Keyword: <code>:=</code></dd>
    <dd><code>Q := \project_{answer} Question</code></dd>
    <dd><code>Q(a) := \project_{answer} Question</code></dd>
    <dd>
        <p>Assignment assigns a new name and optionally
            attributes names to a relation. The relation name must not
            conflict with a name that already exists. The attribute names
            must be unambiguous. The new name can be referenced by any
            statement following the assignment.</p>

        <p>Assignment uses the syntax

        <p><code>name (attribute-list) := relation</code></p>

        <p>where <code>(attribute-list)</code> is an optional, comma separated
            list of new names for all of the attributes in the relation.</p>
    </dd>

    <dt>Select</dt>
    <dd>Keyword: <code>\select</code></dd>
    <dd><code>\select_{answer='42'} Question</code></dd>
    <dd><code>\select_{question='life' and answer='42'} Question</code></dd>
    <dd>
        <p>Select evaluates each tuple in a relation against a boolean
            expression passed in as a required argument. The boolean
            expression can be composed of attribute references, numbers,
            quoted strings, comparison operators or logical operators.
            Attribute references must be valid.</p>
    </dd>

    <dt>Project</dt>
    <dd>Keyword: <code>\project</code></dd>
    <dd><code>\project_{id} Question</code></dd>
    <dd><code>\project_{id, question} Question</code></dd>
    <dd>
        <p>Project requires a comma separated list of attributes
            as a required argument. Attribute references must be valid.</p>
    </dd>

    <dt>Rename</dt>
    <dd>Keyword: <code>\rename</code></dd>
    <dd><code>\rename_{Q} Question</code></dd>
    <dd><code>\rename_{(i, q)} Question</code></dd>
    <dd><code>\project_{Q(i, q)} Question</code></dd>
    <dd>
        <p>Rename assigns a new name to a relation, renames all
            of its attributes or does both. The new name must not conflict with
            a name that already exists. The attributes must be
            unambiguous.</p>

        <p>Rename requires one argument with the syntax

        <p><code>relation (attribute-list)</code></p>

        <p>where <code>relation</code> and
            <code>attribute-list</code> are both optional, but at least
            one is required, and <code>attribute-list</code> is a
            comma separated list of new names for all of the attributes
            in the relation.</p>
    </dd>
</dl>

<h2>Binary operators</h2>

<h2>Join operators</h2>
A relation cannot be joined with itself - even if select or project
operator has been applied to it.
To join a relation with itself, at least one of the instances of the relation
must be renamed.
<dl>
    <dt>Cartesian Product</dt>
    <dd>Keyword: <code>\product</code></dd>
    <dd><code>Question \product Answer</code></dd>
    <dd><code>\rename_{Q1} Question \product \rename_{Q2} Question</code>
    </dd>

    <dt>Natural Join</dt>
    <dd>Keyword: <code>\natural_join</code></dd>
    <dd><code>Question \natural_join Answer</code></dd>

    <dt>Theta Join</dt>
    <dd>Keyword: <code>\theta_join </code></dd>
    <dd><code>Question \theta_join_{Question.id = Answer.id} Answer</code></dd>
    <dd>
        <p>Theta join evaluates each tuple in the Cartesian product of two
            relations against a boolean
            expression passed in as a required argument. The boolean
            expression can be composed of attribute references, numbers,
            quoted strings, comparison operators or logical operators.
            Attribute references must be valid.</p>
    </dd>
</dl>

<h2>Set operators</h2>

<p>The right-hand and left-hand sides of the operator must be valid RA
    expressions.
    The attribute names of the relations that the expressions evaluate to must
    match exactly in names and order.</p>
<dl>
    <dt>Union</dt>
    <dd>Keyword: <code>\union </code></dd>
    <dd><code>Question \union Question2</code></dd>

    <dt>Difference</dt>
    <dd>Keyword: <code>\difference </code></dd>
    <dd><code>Question \difference Question2</code></dd>

    <dt>Intersection</dt>
    <dd>Keyword: <code>\intersect </code></dd>
    <dd><code>Question \intersect Question2</code></dd>
</dl>
</body>
</html>