{% extends "problems/problem_form.html" %}

{% block related_items %}
    <div class="item-list">
        <h3>Testcases</h3>
        {% for object in object.testcase_set.all %}
            <div class="item">
                {% block item_title %}
                    {{ object }}
                {% endblock %}
                <span>
                {% block item_controls %}
                    <a href="{{ object.get_absolute_url }}/delete">
                        <i class="glyphicon glyphicon-trash pull-right"></i>
                    </a>
                {% endblock %}
            </span>
            </div>
        {% endfor %}
        <br>
        <a type="button" class="btn btn-sm btn-default" aria-label="add"
           href="{{ object.get_absolute_url }}/testcase">
            <i class="glyphicon glyphicon-plus"></i>
        </a>
        <hr>
    </div>
{% endblock %}