<div id="grade-code">
    <div class="ExecutionVisualizer row-fluid">
        <div class="span12">
            <table id="gradeMatrix" class="table table-striped span12">
                <tr class="gradeMatrixRow">
                    <td>Test Expression</td>
                    <td class="statusCell">Expected</td>
                    <td>Description</td>
                    <td>Result</td>
                    <td>Passed</td>
                    <td>Debug</td>
                </tr>
            </table>
        </div>
    </div>
</div>