{% extends "problems/submission.html" %}

{% load staticfiles %}
{% block scripts %}
    {{ block.super }}
    {% load staticfiles %}
    {% include "problems/code_problem_scripts.html" %}
{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    {% include "problems_code/code_problem_stylesheets.html" %}
{% endblock %}

{% block page_title %}
{% endblock %}

{% block content %}

    {% include "problems_code/code_trace.html" %}

    <div id="code-{{ problem.pk }}" class="code-mirror-wrapper">
        {% include "problems_code/submission_widget.html" %}
    </div>

{% endblock %}
