{% extends "problems/submission.html" %}

{% load staticfiles %}

{% block page_title %}
{% endblock %}

{% block content %}

    {% include "problems_code/code_problem_scripts.html" %}
    {% include "problems_code/code_trace.html" %}

    <div id="code-{{ problem.pk }}" class="code-mirror-wrapper">
        {% include "problems_code/submission_widget.html" %}
    </div>
{#    <div id="code-2" class="code-mirror-wrapper">#}
{#        {% include "problems_code/submission_widget.html" %}#}
{#    </div>#}

{% endblock %}