#!upstart
description "node support for PCRS instance: %(server_name)s"

start on startup
stop on shutdown

script
    export HOME="/root"

    echo $$ > /var/run/pcrs%(server_name)s.pid
    exec sudo -u %(username)s /usr/bin/node %(filepath)s/resources/node/node_modules/server.js >> /var/log/pcrs%(server_name)s.sys.log 2>&1
end script

pre-start script
    # Date format same as (new Date()).toISOString() for consistency
    echo "[`date -u +%Y-%m-%dT%T.%3NZ`] (sys) Starting" >> /var/log/pcrs%(server_name)s.sys.log
end script

pre-stop script
    rm /var/run/yourprogram.pid
    echo "[`date -u +%Y-%m-%dT%T.%3NZ`] (sys) Stopping" >> /var/log/pcrs%(server_name)s.sys.log
end script
