{% extends "problems/submission.html" %}
{% load staticfiles %}

{% block page_title %}
{% endblock %}

{% block scripts %}

    {{ block.super }}
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript" async
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/latest.js?config=TeX-MML-AM_CHTML">
    </script>
    {% load compress %}
    {% compress js %}
        <script src="{% static "csrf_protection.js" %}" type="text/javascript"></script>
        <script src="{% static "problems/js/problems_helper.js" %}"
            type="text/javascript"></script>
        <script src="{% static "problems_proof_blanks/js/proof_blanks.js" %}"
            type="text/javascript"></script>
        <script src="{% static "bootstrap_less/bootstrap-3.2.0/js/modal.js" %}"
            type="text/javascript"></script>
        <script> 
        function hintHandler(question, message) {
            document.getElementById(`proof_blanks-hints-${question}`).innerHTML = `<p>${message} </p>`;
        }
        </script>
    {% endcompress %}

{% endblock %}

{% block content %}
    <div id="proof_blanks-{{ problem.pk }}">
        {% include "problems_proof_blanks/submission_widget.html" %}
    </div>

{% endblock %}
