<div class="panel panel-default">
    <div class="panel-body">
        <div style="float: left">
            <u>Bolded text:</u><br>
            &lt;b&gt;<i>text here</i>&lt;/b&gt;<br>
            e.g. <b>text here</b><br><br>
            <u>Italicized text:</u><br>
            &lt;i&gt;<i>text here</i>&lt;/i&gt;<br>
            e.g. <i>text here</i><br><br>
            <u>Underlined text:</u><br>
            &lt;u&gt;<i>text here</i>&lt;/u&gt;<br>
            e.g. <u>text here</u><br><br>
            <u>Crossed out text:</u><br>
            &lt;del&gt;<i>text here</i>&lt;/del&gt;<br>
            e.g. <del>text here</del>
        </div>

        <div style="float: right">
            <u>Modify the size, color, and/or alignment of text:</u><br>
            &lt;font size=&#39;<u>24</u>&#39; color=&#39;<u>red</u>&#39; align=&#39;
            <u>right</u>&#39;&gt;<i>text here</i>&lt;/font&gt;<br>
            <i>* Note: <u>size</u> is an integer, <u>color</u> is a color, and
            <u>align</u> is left/center/right.</i><br><br>
            <u>Insert image:</u><br>
            &lt;img src=&#39;<u>url-to-image</u>&#39;&gt;<br><br>
            <u>Insert image and set size:</u><br>
            &lt;img src=&#39;<u>url-to-image</u>&#39; width=&#39;<u>100</u>&#39;
            height=&#39;<u>50</u>&#39;&gt;<br><br>
            <u>Insert YouTube video:</u><br>
            <i>* While at a video, click on "share" then "embed", and copy the code given.<br>
            * It will look something like this:</i><br>
            &lt;iframe width=&#39;<u>560</u>&#39; height=&#39;<u>315</u>&#39;
            src=&#39;<u>url-to-video</u>&#39; frameborder=&#39;<u>0</u>&#39;
            allowfullscreen&gt;&lt;/iframe&gt;<br>
        </div>

    </div>
</div>
