<script type='text/javascript'>

    $(document).ready( function() {
        
        $('#submission_block, #page_container, #next_block, hr').toggle();
        $('#info_hr').toggle();
        
        var pages = [];
        {% for page in problem.page_set.all %}
            pages.push("<h1>{{ page.text | safe | linebreaksbr }}</h1>");
        {% endfor %}
        
        preloadImages(pages);
        
        var counter = 0;
        var delay = parseInt({{ problem.delay }}) * 1000;
        var container = document.getElementById('page_container');
        var intervalId = null;
        
        if ({{ show_button }} == 0) {
            $('#start_problem').prop('disabled', true);
        }
        
        $('#start_problem').click( function() {
            
            $.post(root + '/problems/timed/' + String({{ problem.pk }}) + '/attempt')
            .fail( function() {
                window.location.replace('/content/quests');
            });
            
            $('#start_problem, #links_block, #info_block, #show_attempts, #extra_br').fadeOut();
            
            setTimeout( function() {
                
                if (delay) {
                    timeIterator(counter, delay, container, pages, intervalId);
                } else {
                    stepIterator(counter, delay, container, pages, intervalId);
                }
                
            }, 2000);
            
        });
        
    });
    
</script>