{% extends "pcrs/crispy_form.html" %}

{% block scripts %}
    
    {{ block.super }}
    <script type="text/javascript">
        $( document ).ready(function() {
            $( "#id_text" ).focus();
        });
    </script>

{% endblock %}

{% if object %}
    {% block page_title %}
        Edit Term
    {% endblock %}
{% endif %}

{% block links %}
    <a class="button" href="{{ problem.get_absolute_url }}">< Back to problem</a>
{% endblock %}

{% block content %}
    {% with object_list=problem.term_set.all list_name='Existing Terms' %}
        {% include "pcrs/related_items_list.html" %}
        <hr>
    {% endwith %}
    {{ block.super }}
{% endblock %}