{% extends "problems/submission_widget.html" %}

{% block problem_title %}
    {{ block.super }}
{% endblock %}

{% block instructor_options %}
    <span class="pull-right widget_controls">
        <a href="{{ problem.get_monitoring_url }}"><i
                class="glyphicon glyphicon-stats pull-right"></i><span
                class="at">Statistics for {{ problem.name }}</span></a>
    </span>
{% endblock %}

{% block history %}
    {% include "problems_multiple_choice/submission_history.html" %}
{% endblock %}