.visualizer-section {
    margin: 5px;
    padding: 10px;
    vertical-align: top;
}

.code-window-section {
    .visualizer-section;
    width: 40%;
}

.name-type-section {
    .visualizer-section;
    width: 30%;
}

.memory-map-section {
    .visualizer-section;
    width: 30%;
}

.visualizer-section-heading {
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}
