@thick-border-color: #DDDDDD;
@address-width: 35%;
@values-width: 65%;
@cell-width: 16.25%;
@cell-height: 37px;

hr {
    width: 100%;
}

.title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.visualizer-section {
    margin: 5px;
    padding: 10px;
    vertical-align: top;
    display: inline-block;
    overflow-y: auto;
    max-height: 800px;
}

.viz-left-wrapper {
    .visualizer-section;
    width: 50%;
    min-width: 30em;
}

.code-window-section {
    .viz-left-wrapper;
    margin: 0px;
    width: 100%;
    min-width: 25em;
}

#preview-code {
    max-height: 500px;
    overflow: auto;
}

.std-out-section {
    .viz-left-wrapper;
    margin: 0px;
    width: 100%;
    min-width: 25em;
}

#std-out-textbox {
    overflow:auto;
    border: 1px solid black;
    margin: 25px;
    width: 93%;
    min-width: inherit;
    height: 8em;
    padding-left: 1em;
    padding-right: 1em;
}

.std_err {
    color: red;
}

.name-type-section {
    .visualizer-section;
    min-width: 10em;
    width: 23%;
}

.memory-map-section {
    .visualizer-section;
    min-width: 26em;
    width: 26%;
}

.visualizer-section-heading {
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

.memory-map-table {
    position: relative !important;
    width: 100%;
    float: left;
}

.address-heading {
    text-align: right;
    border-right: 2px solid @thick-border-color;
    width: @address-width;
}

.values-heading {
    text-align: center;
    width: @values-width;
}

.memory-map-address {
    text-align: right;
    border-right: 2px solid @thick-border-color !important;
    width: @address-width;
}

.memory-map-cell {
    text-align: center;
    vertical-align: middle !important;
    width: @cell-width;
}

.clear-memory-map-cell {
    .memory-map-cell;
    border-left: none !important;
    border-right: none !important;
}

.right-edge-clear-cell {
    .memory-map-cell;
    border-left: none !important;
}

.top-row-clear-cell {
    border-bottom: none !important;
}

.middle-row-clear-cell {
    border-top: none !important;
    border-bottom: none !important;
}

.bottom-row-clear-cell {
    border-top: none !important;
}

.dot-line {
    text-align: center;
    padding: 2px !important;
    line-height: 15px !important;
}

.cell-label-td {
    position: absolute !important;
    padding: 0px !important;
    border: none !important;
    // Need to also set height, width and max-width
    // Height should be a multiple of a cell height (default 37px)
    // Width and max-width should be the same and should be multiples of a cell width (default @cell-width)
}

.cell-label-div {
    display: table-cell !important;
    text-align: center;
    vertical-align: middle;
    width: 10000px;
    // This div should always be wrapped in a td.cell-label-td
    // Need to also set height
    // Height should be the same as the height of the wrapping td.cell-label-td
}
