{% extends "problems/submission_widget.html" %}

{% block problem_specific %}
    <div id="output-{{ problem.id }}">
      <div id="user-box-{{ problem.id }}" class="col-md-6">
        <div id="user-output-{{ problem.id }}"></div>
        <div id="user-graph-{{ problem.id }}"></div>
      </div>
      <div id="sol-box-{{ problem.id }}" class="col-md-6">
        <div id="sol-output-{{ problem.id }}"></div>
        <div id="sol-graph-{{ problem.id }}"></div>
      </div>
    </div>
    {% include "problems_r/grade_table.html" %}
    {% include "problems/wait_async_job.html" %}
{% endblock %}
