<div class="pcrs-modal-history" id="newvisualizerModal" tabindex="-1" aria-labelledby="newvisualizerModal" aria-hidden="true">
    <div class="pcrs-modal-content">
      <div class="pcrs-modal-header">
        <h4 class="pcrs-modal-title" id="visualizerModalLabel">NEW C Debugger</h4>
        <button type="button" class="x-button-right" data-dismiss="modal" aria-hidden="false" title="Close Debugger"></button>
      </div>
      <div class="pcrs-modal-body">
        <div class="table-responsive">

          <div class="code-window-section">
            <div class="title">
              Code Window
            </div>
            <hr/>

            {% include "problems_c/visualizer_code.html" %}
          </div>

          <div class="name-type-section">
            <div class="title">
              Name Table
            </div>
            <hr/>

            {% include "problems_c/visualizer_names.html" %}
          </div>

          <div class="memory-map-section">
            <div class="title">
              Memory Map
            </div>
            <hr/>

            {% include "problems_c/visualizer_memory.html" %}
          </div>

        </div>

    </div>
      <div class="pcrs-modal-footer">
        <button type="button" class="reg-button" data-dismiss="modal">Close
            <span class="at"> Close Debugger </span>
        </button>
      </div>
    </div>
</div>
