{% load staticfiles %}

{% load compress %}
{% compress js %}
    <script src="{% static "codemirror-4.1/lib/codemirror_accessible.js" %}"></script>
    <script src="{% static "codemirror-4.1/mode/clike/clike.js" %}"></script>
    <script src="{% static "bootstrap_less/bootstrap-3.2.0/js/modal.js" %}" type="text/javascript"></script>
    <script src="{% static "problems/js/TagManager.js" %}" type="text/javascript"></script>
    <script src="{% static "problems/js/TabbedCodeMirror.js" %}" type="text/javascript"></script>
{% endcompress %}

{% load compress %}
{% compress js %}
    {# When another language is added modify code_mirror.js #}
    <script src="{% static 'code_mirror.js' %}"></script>

    <script type="text/javascript">
        var cmh_list = {};
        var language = 'c';
        var language_version = 'text/x-csrc';
        var id_starter_code_field = 'id_starter_code';
        var id_solution_field = 'id_solution';
        var id_preview_code_field = 'id_preview_code';

        /**
         * Add [student_code] tag respecting [blocked] and
         * [hidden] tags to garantie the exercise integrity.
         */
        function addTagsToStarterCode() {
            var files = cmh_list[id_starter_code_field].getFiles();

            for (var i = 0; i < files.length; i++) {
                var f = files[i];
                f.code = TagManager.addStudentCodeTags(f.code);
            }

            return TagManager.concatFilesIntoCode(files);
        }

        function submitHidden() {
            var source_code = addTagsToStarterCode();
            console.log(source_code);

            // Move values to temporary variables
            document.getElementById("id_starter_code_tmp").value += source_code;
            document.getElementById("id_solution_tmp").value += cmh_list[id_solution_field].getValue();

            return false;
        }

        /**
         * Create a new tag following some constraints (tags inside tags)
         */
        /*
         * FIXME: Note that this will be completely broken until further notice.
         * Once we have files in seperate editors, this will be trivial to fix.
         */
        function createTag(tag_start, tag_end) {
            // Detect tags in the source code
            var code = cmh_list[id_starter_code_field].getValue();
            var tagRanges = TagManager.findRangesWithTags(code);

            // The tail starts from index 0
            var tail = cmh_list[id_starter_code_field].getCursor('tail').line + 1;
            // The head starts from index 0
            var head = cmh_list[id_starter_code_field].getCursor('head').line;

            for (var i = 0; i < tagRanges.length; i++) {
                if (tail > tagRanges[i].end || head < tagRanges[i].start) {
                    // The selection is outside of this tag.
                    continue;
                }

                document.getElementById("tag-error-message").innerHTML =
                    '<p>Check your code selection!</p>' +
                    '<p>Cannot include any other tag inside a hidden section, or along the same line.</p>';
                $('#tagModal').modal('show');
                return
            }

            // Add tag after verifications
            var selected_area = cmh_list[id_starter_code_field].getSelection();
            cmh_list[id_starter_code_field].replaceSelection(tag_start + '\n' + selected_area + '\n' + tag_end);
        }

        function updateCodeHighLight() {
        /**
         * Apply code highlight when a tag is open anc closed
         */
            // Check for tags to apply code highlighting
            var code_highlight = 0;
            var line_begin = cmh_list[id_starter_code_field].firstLine();
            var line_end = cmh_list[id_starter_code_field].lastLine();

            for (var i = line_begin; i <= line_end; i++) {
                var line = cmh_list[id_starter_code_field].getLine(i);
                if(line.indexOf("[hidden]") > -1 ||
                   line.indexOf("[blocked]") > -1 ||
                   line.indexOf("[student_code]") > -1)
                    code_highlight += 1;

                if(code_highlight > 0)
                    cmh_list[id_starter_code_field].addLineClass(i, '', 'CodeMirror-activeline-background');
                else
                    cmh_list[id_starter_code_field].removeLineClass(i);

                if (line.indexOf("[/hidden]") > -1 ||
                    line.indexOf("[/blocked]") > -1 ||
                    line.indexOf("[/student_code]") > -1)
                    code_highlight -= 1;
            }
        }

        function showPreviewModal(title, source_code) {
            if (cmh_list[id_preview_code_field] != null) {
                cmh_list[id_preview_code_field].setValue(source_code);
            } else {
                cmh_list[id_preview_code_field] = to_code_mirror(
                    language, language_version, $('#'+id_preview_code_field), source_code, true);
            }

            $('#previewModalLabel').text(title);
            $('#previewModal').on('shown.bs.modal', function() {
                cmh_list[id_preview_code_field].refresh();
            });
            $('#previewModal').modal('show');
        }

        /**
         * Preview how code will look to the student
         */
        function previewCode() {
            /* FIXME
            cmh_list[id_starter_code_field].setValue(addTagsToStarterCode());

            var code = cmh_list[id_starter_code_field].getValue();
            */

            // The [\s\S] is another way to express "." with DOTALL enabled
            code = code.replace(/\n[ \t]*\[hidden\]\s*[\s\S]*\[\/hidden\][ \t]*/g, '');
            code = code.replace(/(\n)?\[\/?(student_code|blocked)\]/g, '');
            // The tag at the top of the file will leave a stray newline
            code = code.replace(/^[ \t]*\n/, '');

            showPreviewModal('Preview Code', code);
        }

        /**
         * Block input text in a line that
         * holds any kind of tag
         */
        function blockInput(editor_id, change) {
            var line = cmh_list[editor_id].getLine(cmh_list[editor_id].getCursor().line);

            if (line.search(/\[\/?(hidden|blocked|student_code)\]/) != -1) {
                if ( ! (change.text == "" || change.text.length > 1)) {
                    change.cancel();
                }
            }
        }

        function addCodeMirrorToFieldWithId(id) {
            var element = $('#' + id);
            cmh_list[id] = to_code_mirror(
                language, language_version, element, element.text(), false);
        }

        function addTabbedCodeMirrorToFieldWithId(id) {
            var tcm = new TabbedCodeMirror();
            cmh_list[id] = tcm;
            var codeDiv = $('#' + id);
            var codeText = codeDiv.text();

            // Replace the code div with the tabbed code mirror
            codeDiv.before(tcm.$tabs);
            codeDiv.before(tcm.$content);
            codeDiv.remove();

            var files = TagManager.parseCodeIntoFiles(codeText);

            for (var i = 0; i < files.length; i++) {
                var file = files[i];
                tcm.addFile({
                    'name': file.name,
                    'code': file.code,
                    'mode': 'text/x-java',
                    'theme': user_theme,
                });
            }

            tcm.setActiveTabIndex(0);
        }

        $(function() {
            // Add function to submit button to update hidden field data
            $("#submit-id-clone").attr("onclick", "return submitHidden();");
            $("#submit-id-submit").attr("onclick", "return submitHidden();");
            $("#submit-id-attempt").attr("onclick", "return submitHidden();");

            // Add hidden values to submit code
            $('form').append(
                '<input type="hidden" id="id_starter_code_tmp" name="starter_code" value=""></input>' +
                '<input type="hidden" id="id_solution_tmp" name="solution" value=""></input>');

            // Tag insertion buttons
            var starter_code_field =
                $('#div_' + id_starter_code_field + ' div.controls');
            starter_code_field.after('<br />' +
                '<a class="btn btn-primary" role="button" ' +
                        'onclick="previewCode()">' +
                    '<span class="glyphicon glyphicon-eye-open"></span>   Preview Exercise' +
                '</a>&nbsp;&nbsp;&nbsp;' +
                '<a class="btn btn-success" role="button" ' +
                        'onclick="createTag(\'[student_code]\',\'[/student_code]\')">' +
                    '<span class="glyphicon glyphicon-pencil"></span>   Student Code' +
                '</a>&nbsp;&nbsp;&nbsp;' +
                '<a class="btn btn-danger" role="button" ' +
                        'onclick="createTag(\'[blocked]\',\'[/blocked]\')">' +
                    '<span class="glyphicon glyphicon-ban-circle"></span>   Blocked' +
                '</a>&nbsp;&nbsp;&nbsp;' +
                '<a class="btn btn-danger" role="button" ' +
                        'onclick="createTag(\'[hidden]\',\'[/hidden]\')">' +
                    '<span class="glyphicon glyphicon-eye-close"></span>   Hidden' +
                '</a>');

            addTabbedCodeMirrorToFieldWithId(id_starter_code_field);
            addCodeMirrorToFieldWithId(id_solution_field);

            /* FIXME
            cmh_list[id_starter_code_field].on("change", updateCodeHighLight);
            cmh_list[id_starter_code_field].on("beforeChange", function(instance, change) {
                blockInput(id_starter_code_field, change);
            });

            // Update code highlight for the first time
            updateCodeHighLight();
            */

            $(window).bind("load", function() {
                $('.CodeMirror').each(function(i, el) {
                    el.CodeMirror.refresh();
                });
            });
        });
    </script>
{% endcompress %}
