<div class="pcrs-modal-preview" id="previewModal" tabindex="-1" aria-labelledby="previewModal" aria-hidden="true"> <!-- style="display: none" -->
    <div class="pcrs-modal-content">
      <div class="pcrs-modal-header">
        <h4 class="pcrs-modal-title" id="previewModalLabel"></h4>
        <button type="button" class="x-button-right" data-dismiss="modal" aria-hidden="false" title="Close"></button>
      </div>
      <div class="pcrs-modal-body">
          <div id="preview-code">
              <textarea id="id_preview_code" rows="4" cols="10"></textarea>
          </div>
      </div>
      <div class="pcrs-modal-footer">
        <button type="button" class="reg-button" data-dismiss="modal">Close
            <span class="at"> Close </span>
        </button>
      </div>
    </div>
</div>
