<div class="pcrs-modal-tagerror" id="tagModal" tabindex="-1" aria-labelledby="tagModal" aria-hidden="true">
    <div class="pcrs-modal-content">
      <div class="pcrs-modal-header">
        <h4 class="pcrs-modal-title" id="tagModalLabel">Tag misuse</h4>
        <button type="button" class="x-button-right" data-dismiss="modal" aria-hidden="false" title="Close Error Message"></button>
      </div>
      <div class="pcrs-modal-body">
          <div id="tag-error-message">
          </div>
      </div>
      <div class="pcrs-modal-footer">
        <button type="button" class="reg-button" data-dismiss="modal">Close
            <span class="at"> Close Error Message </span>
        </button>
      </div>
    </div>
</div>