<h3>Static Memory</h3>
<table id="static-memory-map" class="table table-bordered memory-map-table">
  <thead>
    <tr>
        <th id="address-heading">Address</th>
        <th id="values-heading" colspan="4">Values</th>
    </tr>
  </thead>
  <tbody>
    <!-- Rows for each variable will be added here by the JS functions -->
    <!-- Refer to example HTML file for structure -->
  </tbody>
</table>

<hr/>

<h3>Heap</h3>
<table id="heap-memory-map" class="table table-bordered memory-map-table">
  <thead>
    <tr>
        <th id="address-heading">Address</th>
        <th id="values-heading" colspan="4">Values</th>
    </tr>
  </thead>
  <tbody>
    <!-- Rows for each variable will be added here by the JS functions -->
    <!-- Refer to example HTML file for structure -->
  </tbody>
</table>

<hr/>

<h3>Stack</h3>
<!-- A table for each stack frame will be added here by the JS functions -->
<!-- Refer to example HTML file for structure -->
