<h3>
    <a href="#" class="minimizer"><span class="minimizer-span" id="data-minimizer">[-]</span></a>
    Data
</h3>
<div id="data-memory-map" class="memory-map-table-wrapper">
    <table class="table table-bordered memory-map-cell-table">
      <thead>
        <tr>
            <th class="address-heading">&nbsp;</th>
            <th class="values-heading" colspan="4">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <!-- Rows for each variable will be added here by the JS functions -->
        <!-- Refer to example HTML file for structure -->
      </tbody>
    </table>
    <!-- Labels -->
    <table class="table table-bordered memory-map-label-table">
      <thead>
        <tr>
            <th class="address-heading">Address</th>
            <th class="values-heading" colspan="4">Values</th>
        </tr>
      </thead>
      <tbody>
        <!-- Rows for each variable will be added here by the JS functions -->
        <!-- Refer to example HTML file for structure -->
      </tbody>
    </table>
</div>

<hr/>

<h3>
    <a href="#" class="minimizer"><span class="minimizer-span" id="heap-minimizer">[-]</span></a>
    Heap
</h3>
<div id="heap-memory-map" class="memory-map-table-wrapper">
    <table class="table table-bordered memory-map-cell-table">
      <thead>
        <tr>
            <th class="address-heading">&nbsp;</th>
            <th class="values-heading" colspan="4">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <!-- Rows for each variable will be added here by the JS functions -->
        <!-- Refer to example HTML file for structure -->
      </tbody>
    </table>
    <!-- Labels -->
    <table class="table table-bordered memory-map-label-table">
      <thead>
        <tr>
            <th class="address-heading">Address</th>
            <th class="values-heading" colspan="4">Values</th>
        </tr>
      </thead>
      <tbody>
        <!-- Rows for each variable will be added here by the JS functions -->
        <!-- Refer to example HTML file for structure -->
      </tbody>
    </table>
</div>

<hr/>

<h3>Stack</h3>
<div id="stack-frame-tables">
<!-- A table for each stack frame will be added here by the JS functions -->
<!-- Refer to example HTML file for structure -->
</div>

<hr/>
