<table id="memory-map-table" class="table table-bordered table-striped">
  <thead>
    <tr>
      <th id="address-heading">Address</th>
      <th id="values-heading" colspan="4">Values</th>
    </tr>
  </thead>
  <!-- id="new_debugger_table_heap" -->
  <tbody id="">
    <tr>
        <td class="memory-map-address">0x00001276</td>

        <td class="memory-map-cell">'H'</td>
        <td class="memory-map-cell">'i'</td>
        <td class="memory-map-cell">'!'</td>
        <td class="memory-map-cell">0x0A</td>
    </tr>
  </tbody>
</table>
