<div>
  <div id="preview-code">
      <textarea id="id_preview_code_debugger" rows="4" cols="10"></textarea>
  </div>
  <br/>
  <button id="new_previous_debugger" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Previous</button>
  <button id="new_next_debugger" class="btn btn-default">Next <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></button>
  <button id="new_reset_debugger" class="btn btn-default"><span class="glyphicon glyphicon-indent-right" aria-hidden="true"></span> Reset</button>
  <br />
</div>
