<h3>Data</h3>
<div id="name-table-Data">
    <table id="names-Data" class="table table-bordered">
      <thead>
        <tr>
            <th width="60%">Name</th>
            <th width="60%">Type</th>
        </tr>
      </thead>
      <tbody id="name-body-Data">
        <!-- Rows for each variable will be added here by the JS functions -->
        <!-- Refer to example HTML file for structure -->
      </tbody>
    </table>
</div>

<hr/>

<h3>Stack</h3>
<div id="name-type-section">
<!-- A table for each stack frame will be added here by the JS functions -->
<!-- Refer to example HTML file for structure -->
</div>

<hr/>
