<h3>Data</h3>
<div id="name-table-data">
    <table id="names-data" class="table table-bordered">
      <thead>
        <tr>
            <th width="50%">Name</th>
            <th width="50%">Type</th>
        </tr>
      </thead>
      <tbody id="name-body-data">
        <!-- Rows for each variable will be added here by the JS functions -->
        <!-- Refer to example HTML file for structure -->
      </tbody>
    </table>
</div>

<hr/>

<h3>Stack</h3>
<div id="name-type-section">
<!-- A table for each stack frame will be added here by the JS functions -->
<!-- Refer to example HTML file for structure -->
</div>

<hr/>
