<div>
  <div id="preview-code">
      <textarea id="id_preview_code_debugger" rows="4" cols="10"></textarea>
  </div>
  <br/>
  <button id="new_previous_debugger" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Previous</button>
  <button id="new_next_debugger" class="btn btn-default">Next <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></button>
  <button id="new_reset_debugger" class="btn btn-default"><span class="glyphicon glyphicon-indent-right" aria-hidden="true"></span> Reset</button>
  <span class="pull-right">
      <button id="font_size_up" class="btn btn-default" title="Increase Font Size"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
      <button id="font_size_down" class="btn btn-default" title="Decrease Font Size"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
      <button id="font_size_default" class="btn btn-default" title="Reset Font Size"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
  </span>

  <br/><br/>
</div>
