<div class="pcrs-modal-preview" id="clearSubmissionsModal" tabindex="-1" aria-labelledby="clearSubmissionsModal" aria-hidden="true"> <!-- style="display: none" -->
    <div class="pcrs-modal-content">
      <div class="pcrs-modal-header">
        <h4 class="pcrs-modal-title" id="clearSubmissionsModalLabel">Clear submissions to this problem?</h4>
      </div>
      <div class="pcrs-modal-body red-alert">
          All submissions to this problem will be removed.
      </div>
      <div class="pcrs-modal-footer">
        <button type="button" class="red-button pull-left" onclick="clearSubmissions()" data-dismiss="modal">Clear</button>
        <button type="button" class="reg-button" data-dismiss="modal">Cancel</button>
      </div>
    </div>
</div>
