<script>
var id_test_suite_field = 'id_test_suite';
language = 'java';
language_version = '7';

/**
 * @override
 */
submitHidden = function() {
    try {
        var starterCode = addTagsToStarterCode();
        var testSuiteCode = cmh_list[id_test_suite_field].getValue();

        var solutionFiles = cmh_list[id_solution_field].getFiles();
        var solutionCode = TagManager.concatFilesIntoCode(solutionFiles);

        // Move values to temporary variables
        document.getElementById("id_starter_code_tmp").value = starterCode;
        document.getElementById("id_solution_tmp").value = solutionCode;
        document.getElementById("id_test_suite_tmp").value = testSuiteCode;
        return true;
    } catch (err) {
        alert('Error submitting code: ' + err.message);
        return false;
    }
}

/**
 * Show a help dialog including some sample code for the instructor.
 */
function showJunitHelp() {
    var sampleCode = $('#sampleJUnitSuiteCode').text().trim();
    showPreviewModal('Sample Test Suite Code', sampleCode);
}

function setTabbedCodeMirrorAsEditable(tcm) {
    tcm.enableTabEditingWidgets();
    tcm.setNewFileOptions({
        'name': 'NewFile.java',
        'code': '',
        'mode': cmModeForLanguageAndVersion(language, language_version),
        'theme': user_theme,
    });
}

$(function() {
    $('form').append('<input type="hidden" id="id_test_suite_tmp" ' +
                     'name="test_suite" value=""></input>');

    var obj = $('#' + id_test_suite_field);
    addCodeMirrorToFieldWithId(id_test_suite_field);

    var btnTemplate = Handlebars.getTemplate('hb_icon_button');
    var testSuiteField = $('#div_' + id_test_suite_field + ' div.controls');
    testSuiteField.after('<br />' +
        btnTemplate({
            type: 'primary',
            onclick: 'showJunitHelp()',
            glyph: 'question-sign',
            text: 'Help',
        }));

    var solutionTcm = cmh_list[id_solution_field];
    if (solutionTcm.getFiles()[0].name == '') {
        solutionTcm.renameFileAtIndex(0, 'NewFile.java');
    }

    setTabbedCodeMirrorAsEditable(cmh_list[id_starter_code_field]);
    setTabbedCodeMirrorAsEditable(solutionTcm);
});
</script>

<script id="sampleJUnitSuiteCode" type="text/plain">
import org.junit.*;
import static org.junit.Assert.*;
import java.io.PrintStream;
import java.io.ByteArrayOutputStream;

public class Tests {
    private java.util.List list;
    private ByteArrayOutputStream out;
    private PrintStream oldSystemOut;

    // Called before every test case.
    @Before
    public void setUp() {
        list = new java.util.ArrayList();
        // Used to capture stdout - handy for testing
        out = new ByteArrayOutputStream();
        oldSystemOut = System.out;
        System.setOut(new PrintStream(out));
    }

    // Called after every test case. Used to clean up resources.
    @After
    public void tearDown() {
        System.setOut(oldSystemOut);
        // Dump stdout - we still want it to print eventually
        System.out.println(out.toString());
        list = null;
        out = null;
    }

    /**
     * Test case comments will be shown to the student when they submit code.
     * You can either have them as a block comment or a line comment above
     * each test case.
     */
    @Test
    public void testFoo() {
        // Not providing an assert description will hide the assertion details.
        assertEquals(4, 2 + 2);
        // If you provide a description, the assert will _not_ be hidden.
        assertEquals("Arithmetic is broken!", 6, 3 + 3);
    }

    @Test(expected=IndexOutOfBoundsException.class)
    public void testIndexException() {
        Object o = list.get(42);
    }

    @Test
    public void testCaptureStdout() {
        System.out.println("o hai");
        assertEquals("o hai\n", out.toString());
    }
}
</script>

