<script>
var id_test_suite_field = 'id_test_suite';
language = 'java';
language_version = '7';
// Defined later to reduce clutter (since it is a big blob of text)
var sample_junit_suite_code;

function submitHiddenJava() {
    try {
        var starterCode = addTagsToStarterCode();
        var solutionCode = cmh_list[id_solution_field].getValue();
        var testSuiteCode = cmh_list[id_test_suite_field].getValue();

        // Move values to temporary variables
        document.getElementById("id_starter_code_tmp").value += starterCode;
        document.getElementById("id_solution_tmp").value += solutionCode;
        document.getElementById("id_test_suite_tmp").value += testSuiteCode;
        return true;
    } catch (err) {
        alert('Error submitting code: ' + err.message);
        return false;
    }
}

/**
 * Show a help dialog including some sample code for the instructor.
 */
function showJunitHelp() {
    showPreviewModal('Sample Test Suite Code', sample_junit_suite_code);
}

$(function() {
    $("#submit-id-clone").click(submitHiddenJava);
    $("#submit-id-submit").click(submitHiddenJava);
    $("#submit-id-attempt").click(submitHiddenJava);

    $('form').append('<input type="hidden" id="id_test_suite_tmp" name="test_suite" value=""></input>');

    var obj = $('#' + id_test_suite_field);
    addCodeMirrorToFieldWithId(id_test_suite_field);

    var test_suite_field = $('#div_' + id_test_suite_field + ' div.controls');
    test_suite_field.after('<a class="btn btn btn-primary" role="button" onclick="showJunitHelp()">' +
        '<span class="glyphicon glyphicon-question-sign"></span>   Help</a>');
    test_suite_field.after('<br />');

    var tcm = cmh_list[id_starter_code_field];
    tcm.enableTabEditingWidgets();
    tcm.setNewFileOptions({
        'name': 'NewFile.java',
        'code': '',
        'mode': cmModeForLanguageAndVersion(language, language_version),
        'theme': user_theme,
    });
});

sample_junit_suite_code =
'import org.junit.*;\n' +
'import static org.junit.Assert.*;\n' +
'import java.io.PrintStream;\n' +
'import java.io.ByteArrayOutputStream;\n' +
'\n' +
'public class Tests {\n' +
'    private java.util.List list;\n' +
'    private ByteArrayOutputStream out;\n' +
'    private PrintStream oldSystemOut;\n' +
'\n' +
'    // Called before every test case.\n' +
'    @Before\n' +
'    public void setUp() {\n' +
'        list = new java.util.ArrayList();\n' +
'        // Used to capture stdout - handy for testing\n' +
'        out = new ByteArrayOutputStream();\n' +
'        oldSystemOut = System.out;\n' +
'        System.setOut(new PrintStream(out));\n' +
'    }\n' +
'\n' +
'    // Called after every test case. Used to clean up resources.\n' +
'    @After\n' +
'    public void tearDown() {\n' +
'        System.setOut(oldSystemOut);\n' +
'        // Dump stdout - we still want it to print eventually\n' +
'        System.out.println(out.toString());\n' +
'        list = null;\n' +
'        out = null;\n' +
'    }\n' +
'\n' +
'    /**\n' +
'     * Test case comments will be shown to the student when they submit code.\n' +
'     * You can either have them as a block comment or a line comment above\n' +
'     * each test case.\n' +
'     */\n' +
'    @Test\n' +
'    public void testFoo() {\n' +
'        // Not providing an assert description will hide the assertion details.\n' +
'        assertEquals(4, 2 + 2);\n' +
'        // If you provide a description, the assert will _not_ be hidden.\n' +
'        assertEquals("Arithmetic is broken!", 6, 3 + 3);\n' +
'    }\n' +
'\n' +
'    @Test(expected=IndexOutOfBoundsException.class)\n' +
'    public void testIndexException() {\n' +
'        Object o = list.get(42);\n' +
'    }\n' +
'\n' +
'    @Test\n' +
'    public void testCaptureStdout() {\n' +
'        System.out.println("o hai");\n' +
'        assertEquals("o hai\n", out.toString());\n' +
'    }\n' +
'}\n';
</script>

