{% extends "problems/submission_widget.html" %}

{% block problem_description %}
<div>
    {% autoescape off %}
    {% if problem.is_visible_to_students %}
    <h4 class="problem-description">{{ problem.description|linebreaksbr }}</h4>
    <h5>Construct a solution by dragging blocks from left hand side to right hand side such that the invariant would be
        true for all iterations</h5>
    {% else %}
    <h5>This question is currently unavailable.</h5>
    {% endif %}
    {% endautoescape %}
</div>
<br>
{% endblock %}

{% load staticfiles %}
{% block submission_form %}
<div>
    <script src="{% static "parsons/jquery.min.js" %}" type="text/javascript"></script>
    <script src="{% static "parsons/jquery.sound.js" %}" type="text/javascript"></script>
    <script src="{% static "parsons/jquery.ui.touch-punch.min.js" %}" type="text/javascript"></script>
    <script src="{% static "parsons/jquery-ui.min.js" %}" type="text/javascript"></script>
    <script src="{% static "parsons/prettify.js" %}" type="text/javascript"></script>
    <script src="{% static "parsons/skulpt.js" %}" type="text/javascript"></script>
    <script src="{% static "parsons/skulpt-stdlib.js" %}" type="text/javascript"></script>
    <script src="{% static "parsons/underscore-min.js" %}" type="text/javascript"></script>
    <script src="{% static "parsons/lis.js" %}" type="text/javascript"></script>
    <script src="{% static "parsons/parsons.js" %}" type="text/javascript"></script>
    <link rel="stylesheet" href="{% static "parsons/prettify.css" %}" type="text/css" />
    <link rel="stylesheet" href="{% static "parsons/parsons.css" %}" type="text/css" />

    <div id="sortableTrash" class="sortable-code">
        <p>Trash</p>
    </div>
    <div id="sortable" class="sortable-code">
        <p>Solution</p>
    </div>
    <div style="clear:both;"></div>
    <p>
        <style>
            .resetButton {
                box-shadow: inset 0px 1px 0px 0px #cf866c;
                background: linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
                background-color: #d0451b;
                border-radius: 3px;
                border: 1px solid #942911;
                display: inline-block;
                cursor: pointer;
                color: #ffffff;
                font-family: Arial;
                font-size: 13px;
                padding: 6px 24px;
                text-decoration: none;
                text-shadow: 0px 1px 0px #854629;
            }
        
            .resetButton:hover {
                background: linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
                background-color: #bc3315;
            }
        
            .resetButton:active {
                position: relative;
                top: 1px;
            }
        </style>
        <a href="#" id="newInstanceLink" class="resetButton">New instance</a>
    </p>
    <div id="jsparson"></div>
    <script>
        var initial = `{{problem.starter_code}}`;
        if ('{{problem.unit_tests}}')
        {
            var unittests = `{{problem.unit_tests}}`;
        }

        $(document).ready(function () {
            var payload = {'sortableId': 'sortable','trashId': 'sortableTrash'};
            if (unittests)
            {
                payload.unittests = unittests;
            }
            
            var parson = new ParsonsWidget(payload);
            parson.init(initial);
            parson.shuffleLines();
            $("#button-id-submit").click(function(event) {
                event.preventDefault();
                var fb = parson.getFeedback();
                if (unittests){
                    $("#jsparson").html("<h2>Feedback from testing your program:</h2>" +
                        fb.feedback);
                    }
                    if (fb.success) { alert("Good, you solved the assignment!"); }
            });
            $("#newInstanceLink").click(function (event) {
                event.preventDefault();
                parson.shuffleLines();
            });
        });
    </script>
    {% if user.is_instructor or user.is_ta or problem.visible_unit %}
    {% if problem.unit_tests %}
    <div>
        <h3>Unit tests:</h3>
        <div>{{problem.unit_tests}}</div>
    </div>
    {% endif %}
    {% endif %}
</div>

{% autoescape off %}
    {% load crispy_forms_tags %}
    {% crispy form %}
{% endautoescape %}
<br>
{% endblock %}