
.icon-graduation-cap:before { content: '\e800'; } /* '' */
.icon-megaphone:before { content: '\e802'; } /* '' */
.icon-cinema:before { content: '\e803'; } /* '' */
.icon-library:before { content: '\e804'; } /* '' */