<div class="pcrs-modal-trace" id="visualizerModal" aria-hidden="true">
    <div class="pcrs-modal-trace-content">
        <div class="pcrs-modal-body">
                <div id="visualize-code">

	            </div>
        </div>
        <div class="pcrs-modal-footer">
            <button type="button" class="reg-button" data-dismiss="modal">Close</button>
            <div><font size="1"><i>Visualization courtesy <a href="http://www.pythontutor.com/">Phil Guo</a></i></font></div>
        </div>

    </div>
</div>
