<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#instructor-navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">PCRS</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="instructor-navbar">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Problems
                        <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{ site_prefix }}/problems/code/list">Code</a>
                        </li>
                        <li>
                            <a href="{{ site_prefix }}/problems/multiple_choice/list">Multiple
                                Choice</a></li>
                        <li class="divider"></li>
                        {% if 'problems_timed' in problem_types %}
                        <li>
                            <a href="{{ site_prefix }}/problems/timed/list">Timed</a>
                        </li>
                        {% endif %}
                        {% if 'sql' in languages or 'ra' in languages %}
                            <li class="divider"></li>
                            <li>
                                <a href="{{ site_prefix }}/problems/rdb/schema/list">Schemas</a>
                            </li>
                        {% endif %}
                        {% if 'sql' in languages %}
                            <li><a href="{{ site_prefix }}/problems/sql/list">SQL</a>
                            </li>
                        {% endif %}
                        {% if 'ra' in languages %}
                            <li>
                                <a href="{{ site_prefix }}/problems/ra/list">RA</a>
                            </li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Content
                        <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{ site_prefix }}/content/tags/list">Tags</a>
                        </li>
                        <li><a href="{{ site_prefix }}/content/videos/list">Videos</a>
                        </li>
                        <li><a href="{{ site_prefix }}/content/challenges/list">Challenges</a>
                        </li>
                        <li><a href="{{ site_prefix }}/content/quests/list">Quests</a>
                        </li>
                        <li>
                            <a href="{{ site_prefix }}/sections/list">Sections</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="{{ site_prefix }}/content/quests">Student
                            Quest List View</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {% include "pcrs/shared_navigation.html" %}
                <li>
                    <p class="navbar-text navbar-right"
                       title="View as user">
                        <a class="navbar-link"
                           href="{{ site_prefix }}/users/view_as">
                            Viewing as
                            {% if request.session.viewing_as %}
                                <b>{{ request.session.viewing_as }}</b>
                            {% else %}
                                {{ request.user }}
                            {% endif %}
                        </a>
                    </p>
                </li>
                <li><p class="navbar-text navbar-right" title="Change Session">
                    <a href="{{ site_prefix }}/sections/change"
                       class="navbar-link">
                        section:
                        {% if request.session.viewing_as %}
                            {{ request.session.viewing_as.section }}
                        {% else %}
                            {{ request.session.section }}
                        {% endif %}
                    </a>
                </p>
                </li>
            </ul>
        </div>
    </div>
</nav>
