<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#instructor-navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">PCRS</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="instructor-navbar">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Problems
                        <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ site_prefix }}/problems/code/list">Code</a></li>
                        <li><a href="{{ site_prefix }}/problems/multiple_choice/list">Multiple Choice</a></li>
                        {% if 'sql' in languages or 'ra' in languages %}
                        <li class="divider"></li>
                        <li><a href="{{ site_prefix }}/problems/rdb/schema/list">Schemas</a></li>
                        {% endif %}
                        {% if 'sql' in languages %}
                        <li><a href="{{ site_prefix }}/problems/sql/list">SQL</a></li>
                        {% endif %}
                        {% if 'ra' in languages %}
                        <li><a href="{{ site_prefix }}/problems/ra/list">RA</a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Content
                        <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ site_prefix }}/content/tags/list">Tags</a></li>
                        <li><a href="{{ site_prefix }}/content/videos/list">Videos</a></li>
                        <li><a href="{{ site_prefix }}/content/challenges/list">Challenges</a></li>
                        <li><a href="{{ site_prefix }}/content/quests/list">Quests</a></li>
                        <li><a href="{{ site_prefix }}/sections/list">Sections</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ site_prefix }}/content/quests">Student Quest List View</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{{ site_prefix }}/settings"
                       title="settings">
                        Settings <span class="glyphicon glyphicon-wrench"></span>
                    </a>
                </li>
                <li><p class="navbar-text navbar-right">
                    section: {{ request.session.section|default:None }}
                    <a href="{{ site_prefix }}/sections/change" class="navbar-link">(change)</a>
                </p>
                </li>
                <li><a href="{{ site_prefix }}/logout">(log out)</a></li>

            </ul>
        </div>
    </div>
</nav>
