{% extends "pcrs/base.html" %}
{% block links %}
    {% if user.is_instructor or user.is_ta %}
        {% include "pcrs/buttons/add.html" %}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="item-list">
        {% for object in object_list %}
            <div class="item">
                {% block item_title %}
                    {{ object }}
                {% endblock %}

                {% if user.is_instructor or user.is_ta %}
                    <span>
                {% block item_controls %}
                    {% include "pcrs/buttons/edit.html" %}
                {% endblock %}
                </span>
                {% endif %}

                <div>
                    {% block item_details %}
                        {% include "pcrs/tags.html" %}
                    {% endblock %}
                </div>
                <hr>
            </div>
        {% endfor %}
    </div>
{% endblock %}