{% extends "problems/submission_widget.html" %}

{% block problem_header %}
    <h3>
        {% autoescape off %}
            {% block problem_title %}
                <p class="widget_title">
                    Java Editor
                </p>
            {% endblock %}
        {% endautoescape %}
    </h3>
{% endblock %}

{% block problem_description %}
    <div>
        <h5>Enter your Java code here to compile and visualize it</h5>
    </div>
    <br>
{% endblock %}

{% block problem_specific %}
    {% include "editor/grade_table.html" %}
    {% include "problems_python/code_trace.html" %}
    {% include "problems/wait_async_job.html" %}
{% endblock %}

