{% extends "pcrs/form.html" %}

{% block page_title %}
    Delete <i>{{ object }}</i>?
{% endblock %}

{% block content %}
    {% block alerts %}
        {% for alert in alerts %}
            <div class="alert alert-danger" {{ alert }}></div>
        {% endfor %}
    {% endblock %}

    <form method="post">
        {% csrf_token %}
        {{ form }}
        <div>
            <hr>
            {% include "pcrs/buttons/back.html" %}
            {% include "pcrs/buttons/delete_confirm.html" %}
        </div>
    </form>
{% endblock %}