{% extends "pcrs/crispy_form.html" %}

{% block links %}
    {% include "pcrs/buttons/back_to_list.html" %}
{% endblock %}

{% block related_items %}
    {% if object %}
        {% with list_name='Testcases' object_list=object.testcase_set.all %}
            {% include "problems/testcase_list.html" %}
        {% endwith %}
        <a type="button" class="btn btn-sm btn-default"
           href="{{ object.get_absolute_url }}/testcase">
            <i class="glyphicon glyphicon-plus"></i>
        </a>
        <hr>
    {% endif %}
{% endblock %}