{% extends "pcrs/item_list.html" %}
{% load filters %}

{% block object_info %}
{% if object.id != 9999999 %}
<div class="pcrs-panel-group" id="quest_accordion_{{ object.pk }}">
    <div class="pcrs-panel pcrs-panel-title">
        <h4 class="pcrs-panel-title problem-panel">
            <a href="#quest_collapse_{{ object.pk }}"
               data-parent="quest_accordion_{{ object.pk }}"
               class="collapsed"
               data-toggle="collapse">
                <i class="collapse-indicator"></i>
                <span title="{{ object.name|striptags }}">
                    {{ object.name|striptags }}
                    {% if object.challenge %}
                        ({{ object.challenge|striptags }})
                    {% endif %}
                </span>

                <fieldset class="pull-right">
                    {% if user.is_instructor or user.is_ta %}
                        {% block item_controls %}
                            <a style="color:black" class="pull-right" title="Edit {{ object.name }}"  href="{{ object.get_absolute_url }}">&nbsp;
                                <i class="pencil-icon"></i>
                            </a>
                        {% endblock %}
                    {% endif %}
                    <a style="color:black" class="pull-right" type="button" title="Attempt" href="{{ object.get_absolute_url }}/submit">
                        <i class="attempt-btn"></i>
                    </a>
                </fieldset>
            </a>
        </h4>
    </div>

    {% if object.visibity == open %}
        <div id="quest_collapse_{{ object.pk }}"
             class="panel-collapse collapse">
            <div class="quest-body problem-body"
                id="challenge_accordion_{{ object.pk }}">
                {% autoescape off %}
                	<p> {{ object.description }} </p>
                {% endautoescape %}
            </div>
        </div>
    {% else %}
        <div class="red-label">
            The problem-masters are still working on a few minor details.
        </div>
    {% endif %}
</div>
{% endif %}
{% endblock %}

