{% autoescape off %}
<div class="modal fade" id="history_window_{{ problem.get_problem_type_name }}-{{ problem.pk }}" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-content" style="width:90%; top: 5%; left: 5%;">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel" title="{{ problem }} History">
                {% block modal_title %}
                    {{ problem }}
                {% endblock %}
            </h4>
                <button type="button" class="close pull-right x-button" data-dismiss="modal" aria-hidden="true" title="Close History Window">&times;</button>
        </div>
        <div class="modal-body">
            <div class="panel-group" id="history_accordion">

            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
{% endautoescape %}