{% block problem_header %}
    <h3>
        {% autoescape off %}
            {% block problem_title %}
                <p class="widget_title">
                    {{ problem.name|default:"Multiple Choice Question" }}
                </p>
            {% endblock %}
        {% endautoescape %}


{#        <span class="align-right">#}

        {% if user.is_instructor and not request.session.viewing_as.is_student %}
            {% block instructor_options %}
                <span class="widget_controls">
                    <a href="{{ problem.get_browse_submissions_url }}"><i
                            class="openfolder-icon"></i><span
                            class="at">Submissions for {{ problem.name }}</span></a>

                    <a href="{{ problem.get_monitoring_url }}" title="Browse"><i
                            class="stats-icon"></i><span
                            class="at">Statistics for {{ problem.name }}</span></a>
                    </span>
            {% endblock %}
        {% endif %}

            <span class="problem-score" id="score-{{ item.get_uri_id }}">
                {% if mark|default_if_none:'-' == problem.max_score %}
                    <span class="widget_complete widget_mark"
                          title="Progress so far">
                    {% include "pcrs/checkmark_complete.html" %}
                {% else %}
                    {% if mark|length > 0 %}
                        <span class="widget_incomplete widget_mark"
                              title="Progress so far">
                    {% else %}
                        <span class="widget_not_attempted widget_mark"
                              title="Progress so far"></span>
                    {% endif %}
                    <sup> {{ mark|default_if_none:'-' }} </sup>
                    /
                    <sub> {{ problem.max_score }} </sub>
                </span>
                {% endif %}
            </span>

{#        </span>#}
    </h3>
{% endblock %}

{% block problem_description %}
    <div>
        {% autoescape off %}
            {% if problem.is_visible_to_students %}
                <h5 class="problem-description">{{ problem.description|linebreaksbr }}</h5>
            {% else %}
                <h5>This question is currently unavailable.</h5>
            {% endif %}
        {% endautoescape %}
    </div>
    <br>
{% endblock %}

{% if problem.is_visible_to_students %}
    {% block submission_form %}
        {% autoescape off %}
            {% load crispy_forms_tags %}
            {% crispy form %}
        {% endautoescape %}
    {% endblock %}

    {% block alert %}
        <br>
        <div class="" id="alert">
            <icon class=""></icon>
            <span></span>
            <a class="at screen-reader-text" href=''></a>
        </div>
    {% endblock %}

    {% block history %}
        {% include "problems/submission_history.html" %}
    {% endblock %}

    {% block problem_specific %}
    {% endblock %}
{% endif %}