{% extends "pcrs/crispy_form.html" %}

{% load static %}

{% block scripts %}
    {{ block.super }}
    {% load compress %}
    {% compress js %}
        <script src="{% static "csrf_protection.js" %}"
                type="text/javascript"></script>
        <script src="{% static "content/js/io_connection.js" %}"
                type="text/javascript"></script>
        <script src="{% static "bootstrap_less/bootstrap-3.2.0/js/carousel.js" %}"
                    type="text/javascript"></script>
    {% endcompress %}
    {% include "pcrs/node_socket_io_includes.html" %}
{% endblock %}

{% block stylesheets %}
    {% load compress %}
    {% compress css %}
        {{ block.super }}
        <link rel="stylesheet" href="{% static "problems/css/style.css" %}">
    {% endcompress %}
{% endblock %}

{% block page_title %}
    {{ problem.name }}
{% endblock %}

{% block content %}
    {% block problem_description %}
        <div class="problem-description">
            <h5>{{ problem.description }}</h5>
        </div>
    {% endblock %}

    {{ block.super }}

    <br>

{% endblock %}
