{% extends "pcrs/crispy_form.html" %}

{% block page_title %}
    {{ problem.name }}
{% endblock %}

{% block content %}
    {% block problem_description %}
        <div class="problem-description">
            <h5>{{ problem.description }}</h5>
        </div>
    {% endblock %}

    {{ block.super }}

    <br>

    {% block feedback %}
        <div>
            {% if submission %}
                {% if error %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% else %}
                    {% if submission.score == submission.problem.testcase_set.count %}
                        <div class="alert alert-success">
                            Your solution is correct!
                        </div>
                    {% else %}
                        <div class="alert alert-danger">
                            Your solution is incorrect!
                        </div>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
    {% endblock %}
{% endblock %}