{% extends "pcrs/crispy_form.html" %}

{% block scripts %}
    {% load static %}
    {{ block.super }}
    {% load compress %}
    {% compress js %}
        <script src="{% static "csrf_protection.js" %}"
                type="text/javascript"></script>
        {% include "pcrs/node_includes.html" %}
        <script src="{% static "content/js/io_connection.js" %}"
                type="text/javascript"></script>
    {% endcompress %}
{% endblock %}

{% block page_title %}
    {{ problem.name }}
{% endblock %}

{% block content %}
    {% block problem_description %}
        <div class="problem-description">
            <h5>{{ problem.description }}</h5>
        </div>
    {% endblock %}

    {{ block.super }}

    <br>

{% endblock %}