.tag {
    background-color: #008BB0
}

.language-tag {
    background-color: #E31837;
}

.ok-icon-green {
    color: #3C9A45 !important;
}

@media screen{
    .video-js {
        width:480px !important;
        height:269px !important;
    }
}

@media (max-width:600px){
    .video-js{
        width:90% !important;
    }
}

.complete > i {
    color: #3C9A45;
}

.incomplete > i.graded {
    color: #E31837;
}

.incomplete > i.problem {
    color: #E31837;
}

.complete > i.problem {
    color: #3C9A45;
}

.active_sb{

    border-right:groove indigo;
    padding-right: 5px;
}

.quest_internal{
    padding-left:5%;
}

.panel-challenge-completed{
    background-color:#E8FFE6 !important;
    border-style:solid !important;
    border-width:1px !important;
    border-color: #C4FFBF !important;
}

.panel-challenge-not-attempted{
    background-color:#FFE6E6 !important;
    border-style:solid !important;
    border-width:1px !important;
    border-color: #FFBFBF !important;
}

.panel-challenge-attempted{
    background-color:#FEFFE6 !important;
    border-style:solid !important;
    border-width:1px !important;
    border-color: #FCFFBF !important;
}

.panel-quest-past-due{
    background-color:#E6E6E6 !important;
    border-style:solid !important;
    border-width:1px !important;
    border-color:#BFBFBF !important;
}

.panel-quest-not-past-due{
    background-color:#E6ECFF !important;
    border-style:solid !important;
    border-width:1px !important;
    border-color: #BFCEFF !important;
}


/*remove 'not' not efficiant*/
a:not(.collapsed) > .quest-icon{
    transform: rotate(90deg);
}

.quest-icon {
    font-size:80%;
}

.tab-content{
    overflow:scroll;
}

.page>.item>.remove_item{
    display:in-line !important;
    width:20px;
    height:20px;
    margin-left:5px;
    margin-top:-1px;
    background:None;
}

.items>.item>.remove_item{
    display:none !important;
}

.delete-page{
    width:20px;
    height:20px;
    margin-top:-15px;
    margin-right:-13px;
    background:none !important;
}

.visibility-open{
    color:green !important;
}

.visibility-closed{
    color:red !important;
}

.problem-complete{
    color:green;
}

.problem-attempted{
    color:darkorange;
}

.problem-idle{
    color:red;
}

.problem-closed{
    color:grey;
}

.problem-none{
    color:black;
}

.btn-object-visibility{
    width:20px;
    height:20px;
    margin-top:-5px;
    background:None;
}

/*.btn-object-close{*/
    /*background:None !important;*/
/*}*/

.problem-description {
    white-space: pre-wrap;
    background:none !important;
}

.table-left{
    padding-right:2% !important;
}

.table-right{
    padding-left:2% !important;
}

.sql-extra{
    background-color:#FFE6E6 !important;
}

.sql-order{
    background-color:#E6ECFF !important;
}

.sql-missing{
    background-color:#FFE6E6 !important;
}

.widget_title{
    display:inline;
}

.x-button{
    position:relative !important;
    top:-35px !important;
}

/*Access technology hidden text*/
.at {
   position: absolute;
   clip: rect(1px,1px,1px,1px);
   padding: 0;
   border: 0;
   height: 1px;
   width: 1px;
   overflow: hidden;
   display: block;
}

.panel-quest-not-past-due.panel-challenge-completed{
    background-color:#E8FFE6 !important;
    border-style:solid !important;
    border-width:1px !important;
    border-color: #C4FFBF !important;
}

.panel-quest-past-due.panel-challenge-completed{
    background-color:#CFDBC8 !important;
    border-style:solid !important;
    border-width:1px !important;
    border-color: #B4CCA3 !important;
}

.h_score{
    font-size:0.9em;
}

.in_line{
    display:inline-block;
}

.bs-docs-sidebar{
    margin-left:79%;
    position:fixed;
    margin-top:-75px;
}

.side-bar-arrow{
    margin-left:5px;
}

.modal-content{
    width:90%;
    top: 5%;
    left: 5%;
}

.widget_controls{
    margin-right:15px !important;
}

.True{
    background-color: #C4FFBF !important;
}

.False{
    background-color: #FFBFBF !important;
}

.table-striped{
    width:100% !important;
}

.navbar .nav > li > a {
    color:  white;
}

.navbar .nav > li > p > a {
    color:  white;
}

.navbar-brand {
    color: white;
}

.navbar-toggle{
    color: white !important;
}